<div data-role="page" id="projectview" data-position="inline" data-back="true">
    <div data-role="header" id="projectheader">
        <h1 class="projectname">{{name}}</h1>
        <a href="#home" data-icon="grid" class="ui-btn-right">Home</a>
    </div>
    <div data-role="content" id="projectcontent" data-identity="{{document}}">
      <h2 class="name">{{name}}</h2>
      <p class="tags">{{tags}}</p>
      <p class="comments">{{comments}}</p>
      <p id="editbutton" data-role="button" data-theme="a">Edit</p>
    </div>
    <div data-role="footer" /></div>
{{>scripts}}