/*
    Full Sail University
    Visual Frameworks
    Monica Peters
    Web App Part 4
    Week 4 Project 4
    Due Thursday Feb. 23rd 2012
    styles.css
*/

/*
	project type icons are 35 x 35
	project screenshots are 75 x 75
	I used position:absolute and z-index for the top logo, header, and top nav 
	  so they will always stay at top right or left even when window
	  is various sizes.
	Browse: at top right of page with project type icons.
	Search: at top right under
	Feature: center stage links to most recent project.
*/


/* add multiple browser support */
article, aside, figure, footer, header, hgroup, nav, section {
	display:block;
}

body { 
	font-family: Verdana, Arial, Helvetica, san-serif;
	font-size: 12px;
	width: 95%;
	height: 95%;
	margin: 0 0 15px 15px 0;
	padding: 10px;
	overflow: scroll;
} 


/*LAYOUT*/

section { 
	display: block;
} 

header { 
	text-align: center;
} 

nav { 
	display: block;
} 

footer { 
	display: block;
} 

article { 
	display: inline;
} 

div#items {
	display:inline;
}


small#header {
	display: block;
	text-align: center;
}

/* Feature at Center Stage with CTA */
article#feature {
	display: block;
	text-decoration: none;
	border: 5px double;
	color: #ffffff;
	background-color: #cccccc;
	text-align: center;
	font-size: 28px;
	margin: 5px 5px 9px 5px;
	padding: 15px 15px;
}

/* Search at Top Left */
section#searchProjects {
	display: block;
	text-align: center;
}

/* Browse at Top Right */
section#browse {
	display: block;
	text-align: center;
}

section#topNav {
	display: block;
	text-align: center;
}


/*LINKS*/

a { 
	outline: none;
	text-decoration: none;
	color: navy;
} 

/*pseudoclass*/
a:hover {
	outline: 1px dotted blue;
	text-decoration: underline;
}


/*TYPOGRAPHY*/

h1 { 
	/* Parisienne imported from google fonts http://www.google.com/webfonts */
	font-family: Parisienne;
	font-size: 37px;
	margin: 3px;
	padding: 5px;
	border: 1px navy;
	text-align: center;
} 

p { 
	color: #000000;
	font: italic small-caps normal 12px/1.2em Verdana;
	letter-spacing: .02em;
	text-align: center;
	/* negative to left. positive to right*/
	/*text-indent: -600px;*/
	text-transform: lowercase;
} 


/*FORMS*/

legend { 
} 

/* rounded box */
fieldset { 
	display: block;
	text-decoration: none;
	border: 5px double;
	color: #000000;
	background-color: #cccccc;
	text-align: center;
	font-size: 12px;
} 

label { 
	display: inline;
	/*border: 1px solid blue;*/
} 

input[type=submit] { 
	color: #ffffff;
	background-color: navy;
	-moz-border-radius: 35%;
	border-radius: 35%;
} 

/*LISTS*/

div#items {
	display: block;
	color: #000000;
	font-size: 12px;
}

.projectIconAlign {
	display:inline;
	float:right;
	width: 35px;
	height: 35px;
	margin: 3px 3px 3px 3px;
}

.projectScreenshotAlign {
	float:left;
	width: 75px;
	height: 75px;
	margin: 3px 3px 3px 3px;
}


#errors { 
	color: #000000;
	background-color: orange;
	text-decoration: none;
	display: block;
} 

li { 
	
	display: block;
} 